ignore-workspace-root-check=false # @see: https://pnpm.io/cli/add#--ignore-workspace-root-check
shared-workspace-lockfile=true # @see: https://pnpm.io/npmrc#shared-workspace-lockfile
node-linker=hoisted # @see: https://pnpm.io/npmrc#node-linker