@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  @apply bg-violet-500 text-slate-200;
}

:focus {
  @apply overflow-hidden outline-none;
  box-shadow: 0 0 0 2px theme(colors.violet.500);
}

::-webkit-scrollbar {
  @apply h-1 w-1 bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-violet-300;
}

body {
  @apply scroll-smooth bg-violet-100 font-sans text-base 
    font-normal text-slate-500 antialiased;
}

.page {
  @apply min-h-screen flex-1 p-2 pt-20 sm:p-4;
}

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
  }
}
